<a href="https://colab.research.google.com/github/hamzakhokhar/Future_Sales_Predication/blob/main/EDA_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Future Sales Predication

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

https://www.kaggle.com/c/competitive-data-science-predict-future-sales/overview

Challange: We are asking you to predict total sales for every product and store in the next month. By solving this competition you will be able to apply and enhance your data science skills.

In [ ]:
import pandas as pd

In [9]:
item_categories = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/item_categories.csv')
items = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/items.csv')
sales_train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/sales_train.csv')
sample_submission = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/sample_submission.csv')
shops = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/shops.csv')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DATA_SCIENCE_PROJECT/test.csv')

# File descriptions
>sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.

>test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.

>sample_submission.csv - a sample submission file in the correct format.

>items.csv - supplemental information about the items/products.

>item_categories.csv  - supplemental information about the items categories.

>shops.csv- supplemental information about the shops.

# Data fields
>ID - an Id that represents a (Shop, Item) tuple within the test set

>shop_id - unique identifier of a shop

>item_id - unique identifier of a product

>item_category_id - unique identifier of item category

>item_cnt_day - number of products sold. You are predicting a monthly amount of this measure

>item_price - current price of an item

>date - date in format dd/mm/yyyy

>date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33

>item_name - name of item

>shop_name - name of shop

>item_category_name - name of item category

In [10]:
item_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB

In [11]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB

In [12]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [13]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              214200 non-null  int64
 1   item_cnt_month  214200 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 3.3 MB

In [14]:
shops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB